@charset 'UTF-8';

body {
	background-color: #FED;
}

h1 {
	font-size: 20px;
}

h2 {
	border: 1px solid #000;
	font-size: 16px;
	margin: 5px 5px;
}

.chart { 
	background-color: #FEA;
	margin: 0 auto;	/* 縦無し、横自動 */
	overflow: hidden;
	border: 1px solid #000;
}

.chart h1 {
	font-size: 14px;
	text-align: left;
	border: 0;
}

.chart h2 {
	font-size: 12px;
	text-align: center;
	border: 0;
}

.chart h3 {
	padding: 0px;
	margin: 0px;
	font-size: 40px;
	color: #FFF;
	text-align: center;
	font-family: "Alial Black";
}

.chart li {
	list-style-type: none;
}

.clear {
	clear: both;
}

.chart ul { 
	margin: 0;
	padding: 0;
}

#balance_sheet,
#pl_sheet { 
	width: 640px;	/* 固定 */
	/* height: 440px;	/* 固定 */
	padding: 10px;
	overflow: hidden;
}

.debit_side,
.credit_side {
	float: left;
	width: 300px;		/* 上位と自身のパディングを勘案した値
							本当はパーセンテージで指定したい。 */
	min-height: 380px;	/* 実測（観測）の結果で決定した値 */
	padding: 10px;
}

.debit_side > ul > li,
.credit_side > ul > li {
	margin: 10px;
}

#balance_sheet .debit_side { 
	background-color: #FCF;
}

#balance_sheet .debit_side > ul > li { 
	border: 14px solid #FFB6C1;
	border-radius: 18px;
	min-height: 138px;	/* (50+0+14)*2+10 */
}

#balance_sheet .debit_side > ul > li:hover { 
	border: 14px solid #000;
}

#balance_sheet .debit_side h3 {
	line-height: 138px;
}

#balance_sheet .credit_side { 
	background-color: #9FF;
}

#balance_sheet .credit_side h3 {
	line-height: 50px;
}

#balance_sheet .credit_side > ul > li { 
	border: 14px solid #B0C4DE;
	border-radius: 18px;
	min-height: 50px;
}

#balance_sheet .credit_side > ul > li:hover { 
	border: 14px solid #000;
}

#pl_sheet .debit_side { 
	background-color: #9FF;
}

#pl_sheet .debit_side h3 {
	line-height: 138px;
}

#pl_sheet .debit_side > ul > li { 
	border: 14px solid #B0C4DE;
	border-radius: 18px;
	min-height: 138px;	/* 貸借対照表に合わせた */
}

#pl_sheet .debit_side > ul > li:hover { 
	border: 14px solid #000;
}

#pl_sheet .credit_side { 
	background-color: #FCF;
}

#pl_sheet .credit_side h3 { 
	line-height: 138px;
}

#pl_sheet .credit_side > ul > li { 
	border: 14px solid #FFB6C1;
	border-radius: 18px;
	min-height: 138px;	/* 貸借対照表に合わせた */
}

#pl_sheet .credit_side > ul > li:hover { 
	border: 14px solid #000;
}

#pl_sheet .credit_side > ul > li:hover ~ .account_title {
  display: block;
}

.account_title {
	display: none;
}

.account_title > li {
	margin: 2px 4px;
	background-color: #00FA9A;
	border: 4px solid #00FA9A;
	border-radius: 18px;
	float: left;
}

