@charset 'UTF-8';

body {
	background-color: #FED;
}

h1 {
	font-size: 20px;
}

h2 {
	border: 1px solid #000;
	font-size: 16px;
	margin: 5px 5px;
}

.chart { 
	background-color: #FEA;
	width: 640px;	/* 横幅固定 */
	margin: 0 auto;	/* 縦無し、横自動 */
	overflow: hidden;
	border: 1px solid #000;
}

.chart h1 {
	font-size: 14px;
	text-align: left;
	border: 0;
}

.chart h2 {
	font-size: 12px;
	text-align: center;
	border: 0;
}

.chart h3 {
	font-size: 12px;
	text-align: center;
	border: 0;
}

.chart li {
	list-style-type: none;
}

.clear {
	clear: both;
}

.chart ul { 
	margin: 0;
	padding: 0;
}

.chart > ul > li { 
	float: left;
	width: 50%;
	height: 100%;
}

/*
.debit_side > ul > li ,
.credit_side > ul > li { 
	border: 14px solid #000;
}
*/

#balance_sheet .debit_side { 
	background-color: #FCF;
}

#balance_sheet .debit_side > ul > li { 
	border: 14px solid #FFB6C1;
}

#balance_sheet .credit_side { 
	background-color: #9FF;
}

#balance_sheet .credit_side > ul > li { 
	border: 14px solid #B0C4DE;
}

#pl_sheet .debit_side { 
	background-color: #9FF;
}

#pl_sheet .debit_side > ul > li { 
	border: 14px solid #B0C4DE;
}

#pl_sheet .credit_side { 
	background-color: #FCF;
}

#pl_sheet .credit_side > ul > li { 
	border: 14px solid #FFB6C1;
}

.account_title > li {
	background-color: #00FA9A;
	border: 1px solid #000;
	float: left;
}
